.label {
    text-align: right;
}

.forms {
    border: black 1px solid;
    border-collapse: collapse;
}

#input_tankers {
    position: absolute;
    top: 680px;
    left: 10px;
    width: 300px;
}

#load_silos {
    position: absolute;
    top: 760px;
    left: 10px;
    width: 200px;
}

#add_materials {
    position: absolute;
    top: 550px;
    left: 10px;
    width: 300px;
}

#reset1 {
    position: absolute;
    top: 220px;
    left: 50px;
}

#reset2 {
    position: absolute;
    top: 220px;
    left: 200px;
}

.silos_detail {
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    font-family: "Times New Roman", serif;
    font-size: 12px;
}

.silos_detail caption {
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

th, td {
    border: 1px solid black;
}

#silos1 {
    top: 550px;
    left: 350px;
    width: 150px;
}

#silos2 {
    top: 550px;
    left: 505px;
    width: 150px;
}

#silos3 {
    top: 550px;
    left: 660px;
    width: 150px;
}

#silos4 {
    top: 550px;
    left: 815px;
    width: 150px;
}

#silos5 {
    top: 550px;
    left: 970px;
    width: 150px;
}

#silos6 {
    top: 550px;
    left: 1125px;
    width: 150px;
}

#silos7 {
    top: 550px;
    left: 1280px;
    width: 150px;
}

#silos8 {
    top: 550px;
    left: 1435px;
    width: 150px;
}

#Conveyor1 {
    position: absolute;
    top: 504px;
}

#Conveyor2 {
    position: absolute;
    top: 0;
    left: 310px;
}

#Conveyor3 {
    position: absolute;
    top: 0;
    left: 332px;
}

#Conveyor4 {
    position: absolute;
    top: 60px;
    left: 450px;
}

#Led1 {
    position: absolute;
    top: 120px;
    left: 385px;
}

#Led2 {
    position: absolute;
    top: 120px;
    left: 485px;
}

#Led3 {
    position: absolute;
    top: 120px;
    left: 585px;
}

#Led4 {
    position: absolute;
    top: 120px;
    left: 685px;
}

#Led5 {
    position: absolute;
    top: 120px;
    left: 785px;
}

#Led6 {
    position: absolute;
    top: 120px;
    left: 885px;
}

#Led7 {
    position: absolute;
    top: 120px;
    left: 985px;
}

#Led8 {
    position: absolute;
    top: 120px;
    left: 1085px;
}

dialog{
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 20px;
    background: yellow;
    z-index: 100;
}

.kha {
    border-collapse: collapse;
    position: absolute;
    left: 1300px;
    top: 100px;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    display: none;
}

.kha tbody {
    width: 220px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.kha th {
    border-width: 2px;
}

.kha caption {
    font-family: Arial, sans-serif;
    caption-side: top;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}
