#siloses {
    position: absolute; 
    left: 50px; 
}

#silos1 {
    width: 8%;
}

#silos2 {
    width: 8%;
}

#silos3 {
    width: 8%;
}

#silos4 {
    width: 8%;
}

#silos5 {
    width: 8%;
}

#silos6 {
    width: 8%;
}

#silos7 {
    width: 8%;
}

#silos8 {
    width: 8%;
}

#siloses1_1 {
    width: 50px; 
    margin-left: 20px; 
    margin-right: 20px;
}

#siloses1_2 {
    width: 50px; 
    margin-left: 20px; 
    margin-right: 20px;
}

#weights {
    position: absolute; 
    left: 100px; 
    top: 210px;
}

#weight1_1 {
    margin-left: 120px;
}

#weight1_2 {
    margin-left: 110px;
}

#elevator_1 {
    position: absolute; 
    left: 100px; 
    top: 310px;
}

#elevator1 {
    border: 3px solid white;
}

#diviator_1 {
    position: absolute; 
    left: 850px; 
    top: 336px;
}

#diviator1 {
    width: 120px;
    border: 3px solid white;
}

#diviator_2 {
    position: absolute; 
    left: 770px; 
    top: 420px;
}

#diviator2 {
    width: 120px;
    vertical-align: middle;
    border: 3px solid white;
}

#diviator2_1 {
    margin-left: 70px; 
    vertical-align: middle;
}

#dsp {
    width: 120px;
    vertical-align: middle;
    border: 3px solid white;
}

#elevator_2 {
    position: absolute; 
    left: 220px; 
    top: 550px;
}

#elevator2 {
    vertical-align: top;
    border: 3px solid white;
}

#elevator2_1 {
    margin-left: 25px;
}

#diviator3 {
    width: 120px; 
    vertical-align: top;
    border: 3px solid white;
}

#diviator_3 {
    position: absolute; 
    left: 120px; 
    top: 580px;
}

#diviator4 {
    vertical-align: top;
    width: 120px;
    border: 3px solid white;
}

#upk_zone {
    position: absolute; 
    left: 120px; 
    top: 725px;
}

#upk {
    vertical-align: bottom;
    border: 3px solid white;
}

#way {
    margin-left: 550px;
}

#stalevoz {
    vertical-align: bottom;
    border: 3px solid white;
}

#silos1_status {
    position: absolute; 
    left: 72px; 
    top: 13px;
}

#silos2_status {
    position: absolute; 
    left: 135px; 
    top: 13px;
}

#silos3_status {
    position: absolute; 
    left: 196px; 
    top: 13px;
}

#silos4_status {
    position: absolute; 
    left: 305px; 
    top: 13px;
}

#silos5_status {
    position: absolute; 
    left: 366px; 
    top: 13px;
}

#silos6_status {
    position: absolute; 
    left: 426px; 
    top: 13px;
}

#silos7_status {
    position: absolute; 
    left: 537px; 
    top: 13px;
}

#silos8_status {
    position: absolute; 
    left: 597px; 
    top: 13px;
}

#silos1_number {
    position: absolute; 
    left: 75px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos2_number {
    position: absolute; 
    left: 136px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos3_number {
    position: absolute; 
    left: 198px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos4_number {
    position: absolute; 
    left: 306px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos5_number {
    position: absolute; 
    left: 368px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos6_number {
    position: absolute; 
    left: 429px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos7_number {
    position: absolute; 
    left: 540px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#silos8_number {
    position: absolute; 
    left: 600px; 
    top: 143px; 
    font-weight: bold; 
    color: blue; 
    font-family: arial;
}

#weight1_number {
    font-family: arial; 
    font-weight: bold; 
    color: blue; 
    position: absolute; 
    top: 214px; 
    left: 140px;
}

#weight2_number {
    font-family: arial; 
    font-weight: bold; 
    color: blue; 
    position: absolute; 
    top: 214px; 
    left: 355px;
}

#weight3_number {
    font-family: arial; 
    font-weight: bold; 
    color: blue; 
    position: absolute; 
    top: 214px; 
    left: 560px;
}

#weight1_status {
    position: absolute; 
    top: 277px; 
    left: 138px;
}

#weight2_status {
    position: absolute; 
    top: 277px; 
    left: 352px;
}

#weight3_status {
    position: absolute; 
    top: 277px; 
    left: 556px;
}

#s1_mat {
    color: red; 
    position: absolute; 
    left: 53px; 
    top: 29px;
}

#s2_mat {
    color: red; 
    position: absolute; 
    left: 115px; 
    top: 29px;
}

#s3_mat {
    color: red; 
    position: absolute; 
    left: 175px; 
    top: 29px;
}

#s4_mat {
    color: red;
    position: absolute; 
    left: 285px; 
    top: 29px;
}

#s5_mat {
    color: red; 
    position: absolute; 
    left: 346px; 
    top: 29px;
}

#s6_mat {
    color: red; 
    position: absolute; 
    left: 407px; 
    top: 29px;
}

#s7_mat {
    color: red; 
    position: absolute; 
    left: 517px; 
    top: 29px;
}

#s8_mat {
    color: red; 
    position: absolute; 
    left: 577px; 
    top: 29px;
}

#weight1_label {
    color: red; 
    font-weight: bold; 
    position: absolute; 
    top: 248px; 
    left: 130px;
}

#weight2_label {
    color: red; 
    font-weight: bold; 
    position: absolute; 
    top: 248px; 
    left: 345px;
}

#weight3_label {
    color: red; 
    font-weight: bold; 
    position: absolute; 
    top: 248px; 
    left: 550px;
}

#dsp_label {
    color: red; 
    font-weight: bold; 
    font-size: 24px; 
    position: absolute; 
    left: 1015px; 
    top: 495px;
}

#tables {
    position: absolute; 
    width: 850px; 
    left: 1000px;
}

table {
    display: inline;
}

#t1 {
   margin-right: 10px;
}

#t2 {
    margin-right: 10px;
}


td {
    border-width: 1px; 
    border-style: solid; 
    border-color: black; 
}

th {
    border-width: 1px; 
    border-style: solid; 
    border-color: black; 
}
